<% include ./partials/header.ejs %> 
<link rel="stylesheet" href="/stylesheets/landing.css">
<div class="container">
    <div class="jumbotron mt-4 p-5">
        <h1 class="display-3"><span class="fas fa-camera-retro mr-4"></span>New York City Gallery</h1>
        <h1 class="">Brooklyn, Manhattan, Staten Island</h1>
    </div>
    <div class="row">
    	<div class="col-lg-4 col-6">
    		<div class="card p-1">
    			<img class="img-fluid"src="https://images.unsplash.com/photo-1485977678833-f44c7bddebb7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=972c50e2d0ae4b10bcf757d3bed3c3d6&auto=format&fit=crop&w=1350&q=80">
    		</div>
    	</div>
    	<div class="col-lg-4 col-6">
    		<div class="card p-1">
    			<img class="img-fluid"src="https://images.unsplash.com/photo-1430353602645-76d3731b8eeb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c8fc6134df5b189b5a31cb14d83d9950&auto=format&fit=crop&w=1950&q=80">
    		</div>
    	</div>
    	<div class="col-lg-4 col-6">
    		<div class="card p-1">
    			<img class="img-fluid" src="https://images.unsplash.com/photo-1438978280647-f359d95ebda4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=17bc1700fad6266cd2df6e1db5243e18&auto=format&fit=crop&w=1350&q=80">
    		</div>
    	</div>
    </div>
</div>
<% include ./partials/footer.ejs %> 