<% include ./partials/header.ejs %> 
<link rel="stylesheet" href="/stylesheets/landing.css">
<div class="container">
    <div class="jumbotron mt-4 p-5">
        <h1 class="display-4 display-sm-3 display-md-2 display-lg-1"><span class="fas fa-camera-retro mr-4"></span>New York City Gallery</h1>
        <h2 class="">Brooklyn, Manhattan, Staten Island</h2>
    </div>
    <div class="row">
    	<div class="col-lg-4 col-6 my-2">
    		<div class="card p-1">
    			<img class="img-fluid Img" alt="Street View"src="https://images.unsplash.com/photo-1485977678833-f44c7bddebb7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=972c50e2d0ae4b10bcf757d3bed3c3d6&auto=format&fit=crop&w=1350&q=80">
    		</div>
    	</div>
    	<div class="col-lg-4 col-6 my-2">
    		<div class="card p-1">
    			<img class="img-fluid Img" alt="Manhattan Bridge" src="https://images.unsplash.com/photo-1430353602645-76d3731b8eeb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c8fc6134df5b189b5a31cb14d83d9950&auto=format&fit=crop&w=1950&q=80">
    		</div>
    	</div>
    	<div class="col-lg-4 col-6 my-2">
    		<div class="card p-1">
    			<img class="img-fluid Img" alt="Skyline" src="https://images.unsplash.com/photo-1438978280647-f359d95ebda4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=17bc1700fad6266cd2df6e1db5243e18&auto=format&fit=crop&w=1350&q=80">
    		</div>
    	</div>
    	
        <div class="col-lg-4 col-6 my-2">
    		<div class="card p-1">
    			<img class="img-fluid Img" alt="Statue of Liberty" src="https://images.unsplash.com/photo-1484752309162-8349dc3b58ee?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9947c525a4a82e96e3da1893995f77a2&auto=format&fit=crop&w=1350&q=80">
    		</div>
    	</div>
    	<div class="col-lg-4 col-6 my-2">
    		<div class="card p-1">
    			<img class="img-fluid Img" alt="Night Life" src="https://images.unsplash.com/photo-1445810694374-0a94739e4a03?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5f77171aed5cbcdd7ff9c3fd70aec262&auto=format&fit=crop&w=1416&q=80">
    		</div>
    	</div>
    	<div class="col-lg-4 col-6 my-2">
    		<div class="card p-1">
    			<img class="img-fluid Img" alt="Skyline" src=https://images.unsplash.com/photo-1480714378408-67cf0d13bc1b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4639e1b6276d9554431592d07edc98e2&auto=format&fit=crop&w=1350&q=80>
    		</div>
    	</div>
    	
        <div class="col-lg-4 col-6 my-2">
        	<div class="card p-1">
        		<img class="img-fluid Img" alt="Bridge Walkway" src="https://images.unsplash.com/photo-1436874555419-bb64221c5c1d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=95b8bb0b54af2f9cb1337672c228ff76&auto=format&fit=crop&w=1267&q=80">
        	</div>
        </div>
        <div class="col-lg-4 col-6 my-2">
        	<div class="card p-1">
        		<img class="img-fluid Img" alt="Skyline" src="https://images.unsplash.com/photo-1431538510849-b719825bf08b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=80eea694de3c4d0bb9b143b91a3d8e7f&auto=format&fit=crop&w=1114&q=80">
        	</div>
        </div>
        <div class="col-lg-4 col-6 my-2">
        	<div class="card p-1">
        		<img class="img-fluid Img" alt="Subway" src="https://images.unsplash.com/photo-1487432197009-7b4c905fb127?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=58b2ad2d3a537985bef5a9a54464ecf3&auto=format&fit=crop&w=1225&q=80">
        	</div>
        </div>
    </div><!-- row -->
</div><!-- container -->


<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- The Close Button -->
  <span class="close">&times;</span>

  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>

<script src="/js/landing.js"></script>

<% include ./partials/footer.ejs %>