.Img {
    cursor: pointer;
    transition: 0.3s;
}
.Img:hover {
    opacity: 0.7;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 60%;
}
/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
@media only screen and (max-width: 700px){
    .modal-content {
        width: 80%;
    }
}

.heading{
  font-weight:400;
  font-size: 1.0rem;
}
.sub-heading{
    font-weight:300;
    font-size:0.764705881rem;
}


@media (min-width: 380px) {
    .heading{
      font-weight:400;
      font-size: 1.3rem;
    }
    .sub-heading{
        font-weight:300;
        font-size:1rem;
    }
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .heading{
      font-weight:400;
      font-size: 2.0rem;
    }
    .sub-heading{
        font-weight:300;
        font-size:1.539rem;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .heading{
      font-weight:400;
      font-size: 3.0rem;
    }
    .sub-heading{
        font-weight:300;
        font-size:2.294rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .heading{
      font-weight:400;
      font-size: 4.6rem;
    }
    .sub-heading{
        font-weight:300;
        font-size:3.517rem;
    } 
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .heading{
      font-weight:400;
      font-size: 5.3rem;
    }
    .sub-heading{
        font-weight:300;
        font-size:4.05rem;
    }  
}

